{% extends "core/base.html" %}

{% block content %}

	<h1>REDCap Connections</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Connection Name</th>
				<th>Unique Name</th>
				<th>API URL</th>
				<th>Primary Key</th>
				<th>Project Title</th>
				<th>Longitudinal?</th>
				<th>Metadata Last Updated</th>
				<th>Last Download to RDBMS</th>
				<th>Last Download to Mongo</th>
				<th>Last Upload to REDCap</th>
			</tr>
		</thead>
		<tbody>
			{% for oConnection in qConnection %}
				<tr>
					<td>{{ oConnection.name }}</td>
					<td>{{ oConnection.unique_name }}</td>
					<td>{{ oConnection.api_url }}</td>
					<td>{{ oConnection.projectmetadata.primary_key_field }}</td>
					<td>
						{% if oConnection.has_project %}
							<a href="{% url 'redcap_import:project_details_events' oConnection.projectmetadata.id %}">
								{{ oConnection.projectmetadata.project_title }}
							</a>
						{% endif %}
					</td>
					<td>{{ oConnection.projectmetadata.is_longitudinal }}</td>
					<td>{{ oConnection.projectmetadata.date_last_updated_metadata }}</td>
					<td>
						{% if oConnection.redcapproject.date_last_downloaded_data %}
							<a href="{% url 'redcap_import:project_details_events' 'django' oConnection.projectmetadata.id %}">
								{{ oConnection.projectmetadata.date_last_downloaded_data }}
							</a>
						{% else %}
							[never]
						{% endif %}
						
					</td>
					<td>
						{% if oConnection.redcapproject.date_last_downloaded_data_mongo %}
							<a href="{% url 'redcap_import:project_details_events' 'mongo' oConnection.projectmetadata.id %}">
								{{ oConnection.projectmetadata.date_last_downloaded_data_mongo }}
							</a>
						{% else %}
							[never]
						{% endif %}
					</td>
					<td>{{ oConnection.projectmetadata.date_last_uploaded_data|default_if_none:'[never]' }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}


