{% extends "core/base.html" %}

{% block content %}

	<nav aria-label="breadcrumb">
 		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a href="{% url 'redcap_import:home' %}">REDCap Connection List</a></li>
    		<li class="breadcrumb-item">
    			<a href="{% url 'redcap_import:project_details_records' data_source oProject.id %}">
    				{{ oProject }}
    			</a>
    		</li>
    		<li class="breadcrumb-item active" aria-current="page">{{ oRoot }}</li>
  		</ol>
	</nav>

	<h1>All Data For {{ oRoot }}</h1>
	
	{% if oProject.is_longitudinal %}
		<ul class="nav nav-tabs">
			{% for oEvent in oRoot.redcapevent_set.all %}
			  	<li class="nav-item">
			    	<a class="nav-link {% if forloop.first %}active{% endif %}" 
			    			data-toggle="tab" href="#redcap-event-{{oEvent.id}}">
			    		{{ oEvent.event_label }} ({{ oEvent.event_unique_name }})
			    	</a>
			  	</li>
			{% endfor %}
		</ul>
		
		<div class="tab-content">
			{% for oEvent in oRoot.redcapevent_set.all %}
		  		<div class="tab-pane {% if forloop.first %}active{% else %}fade{% endif %}" id="redcap-event-{{oEvent.id}}">
		  			{% for instrument in oEvent.get_instrument_records %}
						{% include 'redcap_import/snippets/single_record_instrument_tables.html' %}
					{% endfor %}
		  		</div>
		  	{% endfor %}
		</div>
	{% else %}
		{% for instrument in oRoot.get_instrument_records %}
			{% include 'redcap_import/snippets/single_record_instrument_tables.html' %}
		{% endfor %}
	{% endif %}
	
	
	
{% endblock %}


